*~
*.patch
*.eml
*.log
*.pyc
*.swo
*.swp
build
MANIFEST
version.txt
locale/*.mo
*-lock.json
*.xhtml.fr
*.xml.fr
environment.json
ui_dev/goodforms/node_modules/
ui/goodforms/dist/
ui_dev/goodforms/dist/
